#bkflivesearch {
	position: absolute;
	bottom: auto;
	left: 0;
	border: 1px solid #A5ACB2;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 10px #222222;
	border-radius: 5px;
	padding: 10px;
}

.bkf-suburb-search {
	position: relative;
}

.bkf-suburb-search-input {
	width: 100%;
}

.bkf-suburb-search-results-header {
	margin: 0;
}

.bkf-suburb-search-results-item {
	margin: 5px 0;
	padding: 5px;
	border: 1px solid #A5ACB2;
}

.bkf-suburb-search-results-item:hover {
	background-color: #EEEEEE;
}

.bkf-suburb-search-results-item h3 {
	margin-bottom: 2px;
}

.bkf-suburb-search-results-item ul {
	margin-bottom: 0;
}

.bkf-suburb-search-results-noresults {
	padding: 10px;
}

.bkf-suburb-search-results-noresults p {
	margin: 0;
}

.card_message_count {
    position: relative;
    left: 90%;
    margin-top: -1.5em;
}

.notice-bkf {
    border-left-color: #000099;
}

.bkf-input-icon {
	position: relative;
	display: inline-block;
}

.bkf-input-icon > i {
	position: absolute;
	display: block;
	transform: translate(0, -50%);
	top: 50%;
	pointer-events: none;
	width: 25px;
	text-align: center;
	font-style: normal;
}

.bkf-input-icon > input {
	padding-left: 25px;
	padding-right: 0;
}

.bkf-input-icon-right > i {
	right: 0;
}

.bkf-input-icon-right > input {
	padding-left: 0;
	padding-right: 25px;
	text-align: right;
}

input.bkf_secret_input,input.bkf_secret_input:focus{
	background-color: #00000000;
	border: 0;
	box-shadow: none;
	font-size: 1.25em;
	font-weight: bold;
	color: black;
}

.bkf-loading-spin{
	width: 200px;
	height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -100px -100px 0 0;
	z-index: 9999;
}
.bkf-loading-bg{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff95;
	z-index: 9998;
	width: 100vw;
	height: 100vh;
}

#ship-to-different-address {
	pointer-events: none !important;
	display: none !important;
}
#ship-to-different-address-checkbox {
	display: none;
}
#ship-to-different-address .woocommerce-form__label span::before {
	display: none;
}

.ship-type-field .woocommerce-input-wrapper {
	display: flex;
	flex-direction: row;
}
.ship-type-field .woocommerce-input-wrapper label {
	margin-right: 15px;
	margin-left: 10px;
}
#bkf_recent li, #bkf_today li, #bkf_shipping li {
	border:1px solid #00000050;
	border-radius: 5px;
	padding:5px;
	margin:0 0 5px;
	min-height: 3em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
#bkf_recent li p, #bkf_today li p, #bkf_news li p, #bkf_news li h3, #bkf_shipping li p {
	margin: 0;
}
#bkf_news .inside, #bkf_recent .inside, #bkf_today .inside, #bkf_shipping .inside, #bkf_blocks .inside {
	font-family: 'Oxygen', sans-serif;
}
#bkf_news .date {
	font-size: 0.7em;
}
#bkf_news ul {
	margin: 0;
	border-radius: 5px;
	box-shadow: 2px 2px 4px #888;
}
#bkf_news li {
	margin: 0;
	padding: 5px;
}
#bkf_news li p {
	text-align: justify;
}
#bkf_news h3 {
	font-weight: 600;
}
#bkf_news li:nth-child(even) {
	background-color: #EEE;
}
#bkf_news li:nth-child(odd) {
	background-color: #DDD;
}
#bkf_news ul li:first-child {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
#bkf_news ul li:last-child {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#bkf_recent li h3, #bkf_today li h3, #bkf_shipping li h3 {
	margin: 0;
	font-size: 1.25em;
}
#bkf_recent a, #bkf_news a, #bkf_today a, #bkf_shipping a {
	color: #009;
}

/** Slider toggle
* Assign class bkf-switch to a label element, place checkbox inside it. Place a span with class bkf-slider immediately after checkbox (inside label). Also assign the class round for the toggle to be rounded.
**/

.bkf-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.bkf-switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.bkf-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.bkf-slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .bkf-slider {
	background-color: #009900;
}

input:focus + .bkf-slider {
	box-shadow: 0 0 1px #009900;
}

input:checked + .bkf-slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded bkf-sliders */
.bkf-slider.round {
	border-radius: 34px;
}

.bkf-slider.round:before {
	border-radius: 50%;
}

table.bkf_po_table {
	border-collapse: collapse;
	margin: 0 auto;
	border: 1px solid black !important;
	text-align: left;
}
table.bkf_po_table tr:nth-child(even) {
	background-color: #EEE;
}
table.bkf_po_table tr:nth-child(odd) {
	background-color: #DDD;
}
table.bkf_po_table th {
	padding: 5px 10px;
}
table.bkf_po_table td {
	padding: 5px 10px;
}

#petals_order_notes {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	margin: 5px auto 0 auto;
	width: auto;
}
#petals_order_notes > .even {
	padding: 10px;
	background-color: #EEE;
}
#petals_order_notes > .odd {
	padding: 10px;
	background-color: #DDD;
}
#petals_order_notes p {
	margin-bottom: 0;
}

/* Dropdown (admin)
Assign class bkfdropbtn to button element inside div with class bkfdropdown. Items inside must either be an a element, or a div with class bkfdropdownsubmenu. bkfdropdownsubmenu must then contain a div with class bkfdropdown-subcontent.
*/
.bkfdropbtn {
	background-color: #000000;
	color: white;
	padding: 10px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.bkfdropdown, .bkfdropdownsubmenu {
	position: relative;
	display: inline-block;
}

.bkfdropdown-content {
	display: none;
	position: absolute;
	background-color: #fefefe;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 0;
}
div.bkfdropdown-subcontent {
	display: none;
	position: absolute;
	background-color: #fefefe;
	min-width: 400px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.bkfdropdown-content a, .bkfdropdownsubmenu {
	color: black;
	padding: 9px 12px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-weight: 600;
	line-height: 1em;
}

.bkfdropdown-subcontent {
	right: 0;
	top: 100%;
}

.bkfdropdown-content a:hover {
    background-color: #ddd;
}
.bkfdropdownsubmenu:hover {
    background-color: #eee;
}

.bkfdropdown:hover .bkfdropdown-content, .bkfdropdownsubmenu:hover .bkfdropdown-subcontent {
    display: block;
}

.bkfdropdown:hover .bkfdropbtn {
    background-color: #444444;
}


/* Checkbox field (admin)
enclose in label with class bkf-check-container, put span with class bkf-check-checkmark after checkbox inside label
*/

/* Customize the label (the container) */
.bkf-check-container {
	display: block;
	position: relative;
	padding-left: 22px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.bkf-check-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.bkf-check-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: white;
	border: 1px solid #ddd;
}

/* On mouse-over, add a background color */
.bkf-check-container:hover input ~ .bkf-check-checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a background */
.bkf-check-container input:checked ~ .bkf-check-checkmark {
	border: 1px solid black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.bkf-check-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.bkf-check-container input:checked ~ .bkf-check-checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.bkf-check-container .bkf-check-checkmark:after {
	left: 3.5px;
	top: 1px;
	width: 4px;
	height: 8px;
	border: solid black;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* Radio field (admin)
enclose in label with class bkf-radio-container, put span with class bkf-radio-checkmark after checkbox inside label
*/

/* The container */
.bkf-radio-container {
	position: relative;
	padding-left: 25px;
	margin-right: 20px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 16px;
}

/* Hide the browser's default radio button */
.bkf-radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.bkf-radio-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: white;
	border-radius: 50%;
	border: 1px solid #ddd;
}

/* On mouse-over, add a background color */
.bkf-radio-container:hover input ~ .bkf-radio-checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a background */
.bkf-radio-container input:checked ~ .bkf-radio-checkmark {
	background-color: black;
	border: 1px solid black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.bkf-radio-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.bkf-radio-container input:checked ~ .bkf-radio-checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.bkf-radio-container .bkf-radio-checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* Petals link copy */
.bkfptooltip {
	position: relative;
	display: inline-block;
}

.bkfptooltip .bkfptooltiptext {
	visibility: hidden;
	width: 250px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	bottom: 120%;
	left: 0;
	opacity: 0;
	transition: opacity 0.6s;
}

.bkfptooltip .bkfptooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 5%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.bkfptooltip:hover .bkfptooltiptext {
	visibility: visible;
	opacity: 1;
}

#toplevel_page_bkf_options > a > div.wp-menu-image.dashicons-before > img {
	width: 20px;
	height: 20px;
}
.bkf-box h2 {
	margin-bottom: 0.2em;
}
.bkf-box p.bkf-pageinfo {
	margin-top: 0.2em;
	text-align: justify;
}
.bkf-box *:not(.dashicons), .bkf-font {
	font-family: 'Oxygen', sans-serif;
}
.bkf-box p {
	font-size: 14px;
}
.bkf-form{
	border: 1px solid #ddd;
	padding: 12px;
	margin-top: 12px;
	margin-bottom: 12px;
}
.bkf-form fieldset, fieldset.bkf-fieldset{
	border: 1px solid #696969;
	border-radius: 5px;
	margin: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.bkf-form fieldset legend, fieldset.bkf-fieldset legend{
	font-size: 16px;
	font-weight: 700;
	color: black;
}
.bkf-form td * {
	vertical-align: middle;
}
.bkf-form-control:not(:disabled){
	border-radius: 0 !important;
	border: 1px solid #ddd !important;
	background: white !important;
}
.bkf-form-control:not(.allow-disabled):disabled{
	border-radius: 0 !important;
	border: 1px solid #ddd !important;
	background: white !important;
}
.bkf-form-control.allow-disabled:disabled{
	border-radius: 0 !important;
	border: 1px solid #ddd !important;
}
.bkf-form .select2-selection.select2-selection--single, .bkf-fieldset .select2-selection.select2-selection--single, .bkf-box .select2-selection.select2-selection--single{
	border-radius: 0 !important;
	border: 1px solid #ddd !important;
	background: white !important;
	height: 100%;
}
.bkf-form-control.big{
	width: 50%;
}
.med-text{
	width: 100px;
}
.avg-text{
	width: 230px;
}
.bkf-invalid, .bkf-form input.bkf-invalid {
	border-left: 3px solid red !important;
}
.bkf-validated, .bkf-form input.bkf-validated {
	border-left: 3px solid green !important;
}
.bkf-hidden {
	display: none !important;
}
.bkf-error {
	padding: 10px;
	margin: 5px 0 5px 0;
	border-radius: 10px;
	box-shadow: 5px 10px 10px #888888;
	background-color: PeachPuff;
	color: black;
}
.bkf-info {
	padding: 10px;
	margin: 5px 0 5px 0;
	border-radius: 10px;
	box-shadow: 5px 10px 10px #888888;
	background-color: DarkSeaGreen;
	color: black;
}
.bkf-error p,.bkf-info p {
	margin: 0;
}
.bkf-margin0 {
	margin: 0;
}
ul.bkf-list {
	list-style: inside;
}


input[type="color"].bkf-form-control{
	padding: 0 !important;
}
.bkf-help-block{
	font-size:75% !important;
	margin-top: 0 !important;
}
.bkf-list-group {
	margin: 2px;
	padding: 0 10px;
	background-color: #ddd;
	border: 1px solid #aaa;
	font-size: 18px;
}
.bkf-inside {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 5px;
}
.bkf-close {
    background: black;
    width: 20px;
    height: 20px;
    position: relative;
}
.bkf-close:after {
    content: '';
    height: 20px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(45deg);
    left: 9px;
}

.bkf-close:before {
    content: '';
    height: 20px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 9px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}